body{
    font-family:Roboto, Arial, sans-serif;
    background-color: rgb(14, 13, 13);
    color:white;
    font-size:14px;
}
.Main_Block{
    position:relative;
}
.header{
    position:fixed;
    top:0px;
    width:100%;
    height:56px;
    left:0px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    background-color:rgb(14, 13, 13);
    
}
.mig{
    position:relative;
    left:83px;
    top:40px;
    width:100%;
    max-width: 1330px;
    height:100%;
    display:flex;
    flex-direction: column;
}
.searchbar{ 
    color:hsl(0, 0%, 18.82%);
    border-color: hsl(0, 0%, 18.82%);
    border-radius:20px;
    border:1px solid;
    max-width:578px;
    height:40px;
    margin-left:40px;
    display:flex;
    align-items:center;
    justify-content: end;
    margin-left:auto; 
    overflow:hidden;
}
 input{
    width:100%;
    max-width:1330px;
    margin-left:10px;
    background-color: rgb(14, 13, 13);
    border:none;
    outline:none;
    box-shadow: none;
    color:white;
}
.magnifying-glass{
    height:100%;
    width:100%;
    max-width:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0,0%,100%,.08);
    border-left: 1px solid hsl(0,0%,18.82%);
    
}
.voice{
    margin-left:10px;
    border:10px;
    background-color:hsl(0,0%,18.82%);
    border-radius:50%;
    padding:6px;
}
.block1{
    width:100%;
    max-width: 147px;
    height:58px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.block2{
    display:flex;
    align-items: center;
    
}
.block3{
    width:100%;
    max-width:201px;
    height:44px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.make{
    display:flex;
    align-items:center;
    background-color:hsl(0,0%,18.82%) ;
    border-radius:20px;
    padding-left:5px;
    padding-right:10px;
}
.make > p{
    margin-left:5px;
}
.notifications{
    padding:5px;
}
.notifications:hover{
    border:10px;
    background-color:hsl(0,0%,18.82%);
    border-radius:50%;
    padding:5px;
}
.profile > img{
    border-radius:50%;
}
.verified {
    fill: rgb(170, 170, 170);
}
span{
    margin-top:5px;
}
.video > img{
    border: 10px solid transparent;
    border-radius: 20px;
}
.video > img:hover{
    background-color:hsl(0,0%,18.82%);
}
.titlevid > span{
    font-size:20px;
    font-weight:bolder;
}
.sotavid{
    display:flex;
    align-items:center;
}
.textsotavid{
    display:flex;
    flex-direction: column;
}
.avatarvid > img{
    border-radius:50%;
    display:flex;
    align-items: center;
}
.namevid > span{
    font-size:16px;
    margin-right:5px;

}
.namevid{
    width:100%;
    max-width:150px;
    display:flex;
    align-items: center;
}
.subvid > span{
    font-size:12px;
    color:#AAAAAA;
}
.avatarvid{
    width:53px;
    height:43px;
}
.join{
    background-color:rgba(255,255,255,0.1);
    width:59px;
    height:38px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    gap:8px;
}
.join > span{
    margin:0px;
    font-weight:500;

}
.subscribe{
    width:95px;
    height:38px;
    background-color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.subscribe > span{
    margin:0px;
    color:#000;
    font-weight:500;
}
.threedots{
    fill: white;
}
.sota{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
    max-width:1330px;
    padding:5px;
    padding-bottom: 15px;
    border-bottom:#3f3f3f 1px solid;
}
.super2 {
    display: flex;
    align-items: center;
    gap: 8px;
}
.likes {
    display: flex;
    border: 1px #AAAAAA solid;
    border-radius: 50px;
    overflow: hidden;
    background-color:rgba(255,255,255,0.1);
}
.like,.dislike {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dislike {
    border-left: 1px #AAAAAA solid;
}

.likes>svg, .share>svg {
    width: 24px;
    height: 24px;
    display: block;
    fill: white;
}
.obaldown {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px #AAAAAA solid;
    border-radius: 50px;
    height: 48px;
    padding: 0 12px;
    background-color:rgba(255,255,255,0.1);
    fill: white;
}
.descripcio{
    margin-top:10px;
    width:1330px;
    background-color: #ffffff1a;
    border-radius:10px;
    padding:10px;
    margin:10px;
}
.comentaris{
    margin-top:50px;
    padding-bottom:50px;
}
.comentaristop{
    display:flex;
    align-items: center;
    gap:20px;
}
.com>img{
    border-radius: 20px;
}
.enddescription{
    margin-top:15px;
    display:flex;
}
.endtext{
    display:flex;
    flex-direction: column;
}
.endsubs{
    font-size:12px;
    color:#AAAAAA;
}
.endbuttons{
    display:flex;
    gap:5px;
}
.endbutton {
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 6px;
    border: 1px #a9a9a9 solid;
    border-radius: 50px;
    fill: white;
    padding: 0 12px;
}
 input{
    width:1330px;
    margin-left:10px;
    background-color: rgb(14, 13, 13);
    border:none;
    outline:none;
    box-shadow: none;
    color:white;
}
.comentaris>input{
    border-bottom:1px grey solid;
}
.suckmydick{
    display:flex;
    flex-direction: row;
    overflow:hidden;
}
.linea{
    position: relative;
    display:flex;
    background-color:rgb(14, 13, 13);
}
.cublinea{
    font-weight: bolder;
    margin:5px;
    padding: 8px 12px;
    border-radius:8px;
    background-color:rgba(255,255,255,0.1);
}
.rightbar{
    position: relative;
    left:125px;
    width:100%;
    max-width: 400px;
    overflow:hidden;
    top:42px;
}
.rightvid{
    display:flex;
    position: relative;
    height:100%;
    max-height:160px;  
    margin-bottom: 10px; 
}
.rightvid > img{
    border-radius: 10px;;
}
.textrightvid > span{
    display:flex;
    flex-wrap:wrap;
    margin-left:5px;
}
.supervid{
    display:flex;
}
.grey{
    font-size: 12px;
    color:#AAAAAA;
}
.verif{
    margin-left:5px;
    display: flex;
    align-items: center;
}
.verif > svg{
    fill:#AAAAAA;
    height:14px;
    width:14px;
    margin-left:5px;
}
.threedots{
    fill: white;
}
.com{
    display:flex;
    border-bottom:#3f3f3f solid 1px;
}
