.red{
    width: 250px;;
    height:250px;
    background-color: red;
    position: relative;
}
.green{
    width:230px;
    height: 115px;
    background-color: green;
    position:absolute;
    top:10px;
    left:10px;
}
.blue{
    width:230px;
    height: 115px;
    background-color: blue;
    position: absolute;
    bottom:10px;
    left:10px;
}