.red{
    background-color: red;
    width:250px;
    height:250px;
    position:relative;
}
.green{
    background-color: green;
    width:50%;
    height:50%;
    position:absolute;
    top:10px;
    left:10px;
}
.blue{
    background-color: blue;
    width:50%;
    height:50%;
    position:absolute;
    top:10px;
    right:10px;
}
