.red{
    background-color: red;
    width:250px;
    height:250px;
    display:flex;
}
.green{
    background-color: green;
    width:50%;
    height:50%;
}
.blue{
    background-color: blue;
    width:50%;
    height:50%;
}
.a{
    display:flex;
    width:250px;
    margin:10px;
}
