.red{
    background-color: red;
    width:250px;
    height:250px;
    position: relative;
}

.green{
    background-color: green;
    height:115px;
    width:230px;
    position:absolute;
    top:10px;
    left:10px;
}

.blue{
    background-color: blue;
    height:115px;
    width:230px;
    position:absolute;
    bottom:10px;
    left:10px;  
}
.orange{
    background-color: orange;
    width:42%;
    height:95px;
    position:absolute;
    margin:10px;

}
.yellow{
    background-color: yellow;
    width:42%;
    height:95px;
    position:absolute;
    top:10px;
    right:10px;
}
.darkred{
    background-color: darkred;
    width:42%;
    height:95px;
    position:absolute;
    top:10px;
    bottom:10px;
    left:10px;
}
.black{
    background-color: black;
    width:42%;
    height:95px;
    position:absolute;
    bottom:10px;
    right:10px;
}