.red{
    background-color: red;
    width:250px;
    height:250px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.green{
    margin:10px;
    width:100px;
    height:100px;
    background-color: green;
    align-self:flex-start;

}
.blue{
    margin:10px;
    width:100px;
    height:100px;
    background-color: blue;
    align-self:flex-end;
}