
main {
	display:flex;
	justify-content:center;
	align-items:center;
	height: 100vh;
}
.big {
	width:500px;
	height:500px;
   	position: relative;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;	
	background-color:blue;
}
.topright{
	width: 100px;
	height:100px;
	background-color:yellow;
	position:absolute;
	top:10px;
	left:10px;
}
.topleft{
	width:100px;
	height:100px;
	background-color:pink;
	position:absolute;
	top:10px;
	right:10px;
}
.downright{
	width:100px;
	height:100px;
	background-color:red;
	position:absolute;
	bottom:10px;
	right:10px;
}
.downleft{
	width:100px;
	height:100px;
	background-color:purple;
	position:absolute;
	bottom:10px;
	left:10px;
}
